<ng-container>
  <h4 mat-dialog-title style="font-weight: bold">
    {{'Lista ' + (supplierDetailsType === SupplierDetailsType.PRODUCT ?
    'produselor ' : 'depozitelor ') + 'pentru furnizorul ' + supplierName}}
  </h4>

  <div mat-dialog-content>
    <div *ngIf="supplierDetailsType === SupplierDetailsType.WAREHOUSE; else productsTemplate">
      <mat-list *ngIf="warehouses.length; else noItems">
        <mat-list-item *ngFor="let warehouse of warehouses; let i = index">
          {{i + 1}}. {{warehouse.address}}, {{warehouse.city}}
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</ng-container>

<ng-template #noItems>
  <h4>{{'Nu s-au gasit date'}}</h4>
</ng-template>

<ng-template #productsTemplate>
  <mat-list *ngIf="products.length; else noItems">
    <mat-list-item *ngFor="let product of products; let i = index">
      {{i + 1}}. {{product.productName}}, {{product.price}} lei
    </mat-list-item>
  </mat-list>
</ng-template>

