.information_form {
  width: 70px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.card-align {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.card-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}

.form-style {
  min-width: 100%;
  max-width: 300px;
  width: 100%;
  padding-top: 10px;
}

.title {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.primary-block {
  display: flex;
}

::ng-deep {
  .mat-grid-tile .mat-figure {
    justify-content: flex-start !important;
    align-items: flex-start !important;
    padding: 20px !important;
  }
}

