<div fxLayout="row" fxLayoutAlign="space-evenly" style="width: 100%; height: 100%" fxLayoutGap="15px">
  <div fxLayout="column" fxLayoutGap="15px">
    <mat-card style="height: 300px; width: 500px" class="mat-elevation-z5">
      <mat-card-header class="title">
        <mat-card-title>Date despre client</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="information_form">
          <form [formGroup]="customerFormGroup" class="form-style">
            <mat-form-field style="width: 300px;">
              <input matInput placeholder="Nume" formControlName="name">
            </mat-form-field>
            <mat-form-field style="width: 300px;">
              <input matInput placeholder="Email" type="email" formControlName="email">
            </mat-form-field>
            <mat-form-field style="width: 300px;">
              <input matInput placeholder="Email" mask="000000000" [dropSpecialCharacters]="false" prefix="+40"
                     formControlName="phoneNumber">
            </mat-form-field>
          </form>
        </div>
      </mat-card-content>
    </mat-card>


    <mat-card style="height: 300px; width: 500px" class="mat-elevation-z5">
      <mat-card-title style="text-align: center">Adrese</mat-card-title>
      <div>
        <button mat-mini-fab color="primary" matTooltip="Adauga adresa noua" style="position:absolute; right: 5px"
                (click)="addNewAddress()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div *ngIf="loggedCustomer?.addresses?.length === 0" style="text-align: center">
        <h4> Nu aveti adrese
        </h4>
      </div>
      <ng-container *ngIf="loggedCustomer?.addresses?.length">
        <app-address [addresses]="loggedCustomer?.addresses"></app-address>
      </ng-container>

    </mat-card>
  </div>
  <div style="height: 650px; width: 800px">
    <app-orders></app-orders>
  </div>
</div>

