<div style="width: 450px">
  <div mat-dialog-title>
    <h4>Alege adresa de livrare si introdu descrierea</h4>
  </div>
  <div mat-dialog-content>
    <mat-radio-group
      class="example-radio-group"
      [(ngModel)]="selectedDeliveryAddress">
      <ng-container *ngFor="let address of addresses; let i = index">
        <mat-radio-button class="example-radio-button" [value]="address" color="primary">
          {{i + 1}}. {{address.address}}, {{address.city}}, {{address.postalCode}}
        </mat-radio-button>
      </ng-container>
    </mat-radio-group>

    <mat-form-field appearance="fill" style="width: 100%">
      <textarea #textAre matInput maxlength="100" [(ngModel)]="description" placeholder="Descriere"></textarea>
      <mat-hint align="end">{{textAre.value?.length || 0}}/100</mat-hint>
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button (click)="selectAndLeave()" [disabled]="!selectedDeliveryAddress">Confirma
    </button>
  </div>

</div>
