<div style="padding-top: 15px">
  <mat-list role="list">
    <div *ngFor="let address of addresses; let i = index">
      <mat-list-item role="listitem">
        {{i + 1}}. {{address.address}}, {{address.city}}, {{address.postalCode}}
      </mat-list-item>
    </div>
  </mat-list>

</div>
