/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.snackbar-success {
  background: darkgreen;
}

.snackbar-error {
  background: red;
}

.container-parent {
  width: 60%;
}

.center-div-parent {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.div_button {
  display: flex;
  flex-direction: row;
  padding-left: 370px;
}

.mat-table {
  display: table;

  > .mat-header-row, > .mat-row {
    display: table-row;

    > .mat-header-cell, > .mat-cell {
      display: table-cell;
      height: 48px;
      vertical-align: middle;
    }
  }
}



