<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="card-body">
    <mat-card-header>
      <mat-card-title>Acceseaza contul tau de client</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="customerFormGroup">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" type="email" formControlName="email">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Parola" type="password" formControlName="password">
        </mat-form-field>
        <button mat-stroked-button color="primary" class="btn-block" (click)="loginCustomer()">Log in
        </button>
        <h4 *ngIf="errorMessage" style="color: red">{{errorMessage}}</h4>
        <h4 style="padding-top: 10px">Nu aveti cont de client? <a [routerLink]="['/register']">Inregistreaza-te
          aici!</a></h4>
      </mat-card-content>
    </form>
  </mat-card>

</div>
