<ngx-datatable
  #orderTable
  class="material"
  [rows]="orders"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  rowHeight="auto"
  [offset]="page"
  [limit]="pageSize"
>
  <ngx-datatable-column name="Detalii comanda">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.orderDetails}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Data comanda">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.orderDate | date: 'dd/mm/yyyy'}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Numar comanda">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.orderNumber}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Actiuni">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <button mat-button color="accent" matTooltip="Detalii comanda" (click)="viewOrder(row)">
        <mat-icon>visibility</mat-icon>
      </button>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-footer>
    <ng-template
      ngx-datatable-footer-template
    >
      <div style="padding: 5px 10px">
        <div>
          Elemente totale: {{ totalElements }}
        </div>
      </div>
    </ng-template>
  </ngx-datatable-footer>

</ngx-datatable>

<mat-paginator #paginator [pageIndex]="page"
               [length]="totalElements"
               [pageSize]="pageSize"
               [hidePageSize]="true"
               class="paginator-align"
               (page)="changePage($event)"></mat-paginator>
